/* body */

body {
    font-family: Arial !important;
    background-color: #EFEAF0;
    margin: 0 auto;
    text-align: center;
    max-width: 1076px;
}

.mainbody {
    background-color: white;
}

.textbox {
    display: inline;
    text-align: justify;

}

/* images */

.images {
    font-size: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leftbar {
    float: left;
}

.rightbar {
    float: right;
}

.container {
    position: relative;
    text-align: justify;
    color: black;
    background-color: white;

  }

.textbox {
    position: absolute;
    top: -50%;
    left: 35%;
    transform: translate(-50%, 60%);
  }

.row {
    display: flex;
  }
  
.column1 {
    flex: 25%;
    padding: 10px;
  }

.column2 {
    flex: 75%;
  }